/* 
***Globales***
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --color--txt--black: #000;
  --color--txt--white: #fff;
  --color--txt--blue: #0603b4;
  --color--txt--sky: #11f2ff;
  --bgd--color--sky: #11f2ff;
  --bgd-color--red: red;
  --bgd-color--white: #fff;
  --bgd-color--red--boton: #ff3737;
  --color-border--black: #000;
  --color-border--sky: #11f2ff;
}
body {
  background-image: url(emty.jpg);
}
.box {
  margin: 0px 40px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--color--txt--black);
}
/*
***Button***
*/
.button {
  padding: 10px 20px;
  background-color: var(--bgd-color--white);
  font-weight: bold;
  display: inline-block;
}
.button:hover {
  background-color: var(--bgd-color--red--boton);
  color: var(--bgd-color--white);
}
.button__blue {
  background-color: var(--bgd--color--sky);
}
.button__blue:hover {
  background-color: var(--bgd-color--white);
  color: var(--color--txt--black);
}
.button__red {
  color: var(--bgd-color--white);
  background-color: var(--bgd-color--red--boton);
}
.button__red:hover {
  background-color: var(--color--txt--black);
}
/*
***Texts***
*/
.subtitle {
  font-size: 45px;
  color: var(--bgd-color--white);
  display: inline-block;
  margin-bottom: 20px;
}
.subtitle__blue {
  color: var(--bgd--color--sky);
}
.subtitle2{
  font-size: 30px;
  color: var(--bgd-color--white);
  display: inline-block;
  margin-bottom: 20px;
}
.paragraph{
  font-size: 20px;
  color: var(--color--txt--white);
  text-align: justify;
  margin-bottom: 40px;
  word-spacing: 4px;
  letter-spacing: 1px;
}
/*
***Container***
*/
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 100px 0px;
  position: relative;
  gap: 40px;
}
.container__mod{
  justify-content: center;
  flex-direction: column;
}
/* 
***CABECERA***
*/
.header {
  width: 100%;
  position: absolute;
  top: 50px;
}
.header__flex {
  background-color: var(--bgd--color--sky);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px;
}
.header__flex--list{
  width: 70%;
}
.header__list {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
/* 
***SECCIÓN 1***
*/
.inicio {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  min-height: 80vh;
  position: relative;
  overflow: hidden;
}
.inicio__decoracion{
  position: absolute;
  top: 40px;
}
.inicio__decoracion:nth-child(1){
  left: 40px;
}
.inicio__decoracion:nth-child(2){
  transform: rotateY(180deg);
  right: 40px;
}
.inicio__image {
  position: absolute;
}
.inicio__fondo {
  width: 100%;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.bgd_red:nth-child(1) {
  background-color: var(--bgd-color--red);
  width: 200px;
  height: 50px;
  text-align: center;
}
/* 
***SECCIÓN 2***
*/
.miss {
  background-color: var(--bgd--color--sky);
  padding: 40px 20px;
}
.miss__decoracion{
  position: absolute;
  filter: brightness(0) invert(1);
}
.miss__decoracion:nth-child(1){
  left: 0;
}
.miss__decoracion:nth-child(2){
  right: 0;
}
.miss__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.miss__content .subtitle2:nth-child(2){
  color: var(--color--txt--black);
}
.num {
  font-size: 100px;
  margin: 0 40px 0 40px;
}
/* 
***SECCIÓN 3***
*/
.boll__decoracion{
  position: absolute;
}
.boll__decoracion:nth-child(1){
  top: 60px;
}
.boll__decoracion:nth-child(2){
  top: 60px;
  right: 40px;
}
.boll__decoracion:nth-child(3){
  bottom: 60px;
  right: 0;
  left: 0;
  margin: auto;
  transform: rotateY(180deg);
}
.boll__decoracion:nth-child(4){
  bottom: 60px;
  right: 0;
}
.boll__image {
  width: 100%;
  max-width: 500px;
  height: 400px;
  display: flex;
  align-items: center;
  position: relative;
}
.boll__image--image{
  width: 100%;
}
.boll__content {
  gap: 0px;
  padding: 20px;
}
.boll__content div {
  width: 400px;
}
/* 
***SECCIÓN 4***
*/
.boll__image--2 {
  order: 1;
  background-color: var(--bgd--color--sky);
}
.boll__image--2 .boll__image--image{
  width: 110%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.boll2__decoracion{
  position: absolute;
}
.boll2__decoracion:nth-child(1){
  top: 60px;
  left: 40px;
}
.boll2__decoracion:nth-child(2){
  bottom: 60px;
  right: 0;
  left: 0;
  margin: auto;
  transform: rotateY(180deg);

}
/* 
***SECCIÓN 5***
*/
.jugadores__decoracion{
  position: absolute;
}
.jugadores__decoracion:nth-child(1){
  top: 60px;
  left: 20px;
  transform: rotate(270deg);
}
.jugadores__decoracion:nth-child(2){
  top: 60px;
  right: 20px;
  transform: rotate(90deg);
}
.jugadores__content {
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 20px;
}
.jugadores__content .paragraph{
  text-align: center;
}
.jugadores__images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 80px;
  margin-top: 50px;
}
.jugadores__image {
  width: 100%;
  max-width: 380px;
  height: 380px;
  position: relative;
  background-color: var(--bgd--color--sky);
  display: flex;
  justify-content: center;
}
.image__jugador {
  width: 80%;
  position: absolute;
  bottom: 0;
}
.image__decoracion{
  position: absolute;
  left: -40px;
  top: 10px;
}
.image__decoracion--2{
  position: absolute;
  bottom: 10px;
  right: -40px;
}
/* 
***SECCIÓN 6***
*/
.player__boll{
  position: relative;
  padding: 0px 0px;
  background-color: var(--bgd--color--sky);
}
.player__decoracion{
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(90deg);
}
.boll__image--3 .boll__image--image{
  position: absolute;
  bottom: 0;
  width: 85%;
}
/* 
***SECCIÓN 7***
*/
.stream{
  padding: 0px 20px;
}
.stream__decoracion{
  position: absolute;
  right: 20px;
  transform: rotate(270deg);
}
.stream__video {
  max-width: 1000px;
  width: 100%;
  min-height: 100%;
  position: relative;
  border: 1px solid var(--bgd--color--sky);
  border-width: 10px;
}
.stream__video--button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.stream__video--image {
  width: 100%;
  height: 100%;
}
/* 
***SECCIÓN 8***
*/
.cards__decoration{
  position: absolute;
  top: 60px;
}
.cards__decoration:nth-child(1){
  left: 0;
}
.cards__decoration:nth-child(2){
  right: 0;
}
.cards__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}
.card {
  background-color: var(--bgd-color--white);
  width: 100%;
  max-width: 270px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  gap: 15px;
}
.card .paragraph{
  margin-bottom: 10px;
  color: var(--color--txt--black);
}
.card__image {
  overflow: hidden;
  width: 100%;
  height: 220px;
  position: relative;
  background-color: var(--bgd--color--sky);
}
.card__image--image {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}
/* 
***SECCIÓN 9***
*/
.new__decoration{
  position: absolute;
  top: 0;
}
.new__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
  padding: 0px 20px;
}
.new__content--form {
  width: 100%;
  max-width: 700px;
}
.form__input {
  width: 100%;
  height: 45px;
  background-color: var(--bgd-color--white);
  border: none;
  margin-bottom: 30px;
  padding: 0px 30px;
}
.form__input.form__textarea {
  height: 100px;
  padding: 20px 30px;
}
.form__button {
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  background-color: var(--bgd--color--sky);
  cursor: pointer;
}
.form__button:hover {
  background-color: var(--bgd-color--white);
}
/* 
***FOOTER***
*/
.footer{
  background-color: var(--bgd--color--sky);
  gap: 0px;
  padding: 100px 80px;
}
.footer__more{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
}
.footer__title{
  margin-bottom: 20px;
}
.footer__link{
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}
.footer__link:hover{
  text-decoration: underline;
}
.footer__social{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 40px;
}

@media screen and (max-width: 768px){
  .header .box{
    margin: 0px;
  }
  .boll__image--2{
    background-color: transparent;
  }
  .boll__image--2 .boll__image--image{
    width: 100%;
    position: relative;
    background-color: var(--bgd--color--sky);
  }
  .boll__image--3 .boll__image--image{
    width: 100%;
  }
  .header__flex{
    padding: 0px 20px;
  }
  .header__list{
    gap: 10px;
  }
}

@media screen and (max-width: 425px) {
  .jugadores__images{
    padding: 0px 20px;
  }
  .container{
    text-align: center;
  }
  .header__list,
  .inicio__image,
  .boll__image,
  .image__decoracion--2,
  .image__decoracion,
  .boll__decoracion:nth-child(1),
  .boll__decoracion:nth-child(4),
  .jugadores__decoracion,
  .stream__decoracion,
  .cards__decoration{
    display: none;
  }
  .footer{
    padding: 100px 20px;
  }
  .footer__more{
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
  .footer__social{
    justify-content: center;
  }
  .num{
    display: block;
  }
  .boll__content div{
    width: 100%;
  }
  .subtitle{
    font-size: 38px;
  }
  .subtitle2{
    font-size: 26px;
  }
  .paragraph{
    font-size: 16px;
  }
}